@using MVC_Library.Data
@using MVC_Library.ViewModel
@model IEnumerable<BookVM>

@{
    ViewBag.SearchString = Context.Request.Query["searchString"];
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to MVC Library!</h1>
            @if (User!=null && !User.Identity.IsAuthenticated)
            {
                <p class="lead text-body-secondary">Discover thousands of books in our collection below. Sign up to reserve your favorites, and our librarian will confirm your reservations shortly!</p>
            }
        </div>
    </div>
</section>

<div class="d-flex justify-content-end mb-3">
    <form method="get" class="d-flex" role="search">
        <input type="search" name="searchString" class="form-control me-2" placeholder="Search..." aria-label="Search" value="@ViewBag.SearchString" style="width: 250px;">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text"><h5>@item.Title</h5></p>
                            <p class="card-text">Author: @item.Author</p>
                            <p class="card-text">Publisher: @item.Publisher</p>
                            <p class="card-text">Year of publication: @item.YearOfPublication r.</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <small class="text-body-secondary">@item.Price zł</small>

                                @if (item.IsReserved)
                                {
                                    <span class="badge bg-warning-subtle text-primary-emphasis rounded-pill">Reserved</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">Available</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class="page-link mx-1" href="@Url.Action("Index", new { page = i, searchString = ViewBag.SearchString })">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
